@font-face {
  font-family: sahel;
  src: url("../fonts/Sahel.eot") format("eot"),
    url("../fonts/Sahel.woff") format("woff"),
    url("../fonts/Sahel.woff2") format("woff2");
  font-weight: bolder;
}
body {
  background-color: #28223F;
  font-family: sahel, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: #231E39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #B3B8CD;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.card-container .info {
  color: #231E39;
  background-color: #FEBB0B;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  width: 70px;
  height: 70px;
  border: 1px solid #03BFCB;
  border-radius: 50%;
  padding: 3px;
}


.footer {
  background-color: #1F1A36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}


img {
  max-width: 100px;
  max-height: 100px;
}
/* ========================== */
*,
body {
  font-family: sahel, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url("../img/backimg.jpg"); */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: whitesmoke;
}
ul,
li,
ol {
  text-decoration: none;
  list-style: none;
}
a {
  color: rgb(223, 223, 223);
}
html,
body {
  height: 100%;
}
button {
  background-color: transparent;
  border: none;
}