@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@font-face {
  font-family: Sahel;
  src: url('./fonts/Sahel.eot'),
       url('./fonts/Sahel.woff2') format('woff2'),
       url('./fonts/Sahel.woff') format('woff');
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Sahel,"Lato",  Arial, sans-serif;
}
h1{
  line-height: 40px;
}
body {
  /* background-image: linear-gradient(to bottom right, rgb(136, 0, 255), rgb(248, 196, 50)); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(222, 221, 221);
  font: 14px/20px "Lato", Sahel, Arial, sans-serif;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 0, 255); 
}
button {
  padding: 2px 5px;
  border-radius: 7px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: 1px solid gray;
}
.main{
  position: relative;
  height: 100vh;
}
.image{
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}